<ion-view view-title="Friends">

  <ion-content>

    <!--Friends-->
    <section ng-if="loaded && friends">
      <label class="item item-input">
        <input type="text" placeholder="Search" ng-model="searchTerm.$">
      </label>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in friends | filter:searchTerm:strict" type="item-text-wrap">
          <img ng-src="{{friend['photo_100']}}">
          <h2>
            <span ng-bind="friend['first_name']"></span>
            <span ng-bind="friend['last_name']"></span>
          </h2>
        </ion-item>
      </ion-list>
    </section>

    <!--No friends-->
    <section ng-if="loaded && !friends">
      <h4 class="padding">
        No friends found
      </h2>
    </section>

    <!--Loading-->
    <section ng-if="!loaded">
      <ion-spinner class="padding" icon="lines"></ion-spinner>
    </section>

  </ion-content>

</ion-view>
