<ion-view view-title="Friends">

  <ion-content>

    <!--Friends-->
    <section ng-if="loaded && friends">
      <label class="item item-input">
        <input type="text" placeholder="Search" ng-model="searchTerm.$">
      </label>
      
      <ion-list ng-repeat="friend in friends | filter:searchTerm:strict" type="item-text-wrap">
        <!--class="item-remove-animate item-avatar item-icon-right"-->
          <ion-checkbox>
            <span ng-bind="friend['first_name']"></span>
            <span ng-bind="friend['last_name']"></span>
          <img class="item-checkbox-img" src="{{friend['photo_100']}}">
          </ion-checkbox>
          <!-- <img ng-src="{{friend['photo_100']}}">
          <h2>
            <span ng-bind="friend['first_name']"></span>
            <span ng-bind="friend['last_name']"></span>
          </h2> -->
      </ion-list>
    </section>

    <!--No friends-->
    <section ng-if="loaded && !friends">
      <h4 class="padding">
        No friends found
      </h2>
    </section>

    <!--Loading-->
    <section ng-if="!loaded">
      <ion-spinner class="padding custom-spinner" icon="android"></ion-spinner>
    </section>

  </ion-content>

</ion-view>
