<ion-view view-title="Create new playlist">
  <ion-content>
    <!--Friends-->
    <section ng-if="loaded && friends">
      <div id='new-playlist-card' class="card" on-drag="closeCard()">
          <div class="item item-body custom-item-body">
            <p style="">Select people, whose music you want to listen.</p>
            <button class="button button-light" ng-click="closeCard()" style="">
              <i class="ion-close-round"> </i>
            </button>
          </div>
      </div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="search-input" type="search" placeholder="Search" ng-model="searchTerm.$">
      </label>
      <ion-list ng-repeat="friend in friends | filter:searchTerm:strict" type="item-text-wrap">
          <ion-checkbox ng-model="friend.isChecked" ng-change="checkFriend(friend)">
            <span ng-bind="friend['first_name']"></span>
            <span ng-bind="friend['last_name']"></span>
          <img class="item-checkbox-img" src="{{friend['photo_100']}}">
          </ion-checkbox>
      </ion-list>
    </section>

    <!--No friends-->
    <section ng-if="loaded && !friends">
      <h4 class="padding">
        No friends found
      </h2>
    </section>

    <!--Loading-->
    <section ng-if="!loaded" class="custom-spinner">
      <ion-spinner class="padding custom-spinner" icon="android"></ion-spinner>
    </section>

  </ion-content>

  <ion-footer-bar ng-if="selectedFriendsCounter > 0" align-title="left" class="bar bar-positive">
    <h4 class="title" ng-bind="selectedFriendsTitle">
    </h4>
    <div class="buttons" ng-click="create()">
      <button class="button">Go!</button>
    </div>
  </ion-footer-bar>

</ion-view>
