<ion-view view-title="{{playlist.title}}" cache-view="false">
  <ion-content>
    <ion-refresher on-refresh="activate()" spinner="none">
    </ion-refresher>
    <!-- Tracks -->
    <section ng-if="loaded && tracks">
      <div class="list" collection-repeat="track in tracks track by $index" item-render-buffer="5">
       <div class="item item-icon-left">
          <i class="icon" ng-class="{'ion-ios-pause': track.playing, 'ion-ios-play': !track.playing}" ng-click="toggleTrack(track, $index)"></i>
          <span>
            <span ng-bind="track.artist"></span> -
            <span ng-bind="track.title"></span>
          </span>
       </div>
     </div>
    </section>

    <!-- No tracks -->
    <section ng-if="loaded && !tracks">
      <h4 class="padding">
        No tracks found
      </h2>
    </section>

    <!-- Loading -->
    <section ng-if="!loaded" class="custom-spinner">
      <ion-spinner class="padding custom-spinner" icon="android"></ion-spinner>
    </section>

  </ion-content>
</ion-view>
