<ion-view view-title="{{playlist.title}}" cache-view="false">
  <ion-content>

    <!-- Audios -->
    <section ng-if="loaded && audios">
      <ion-list ng-repeat="audio in audios" type="item-text-wrap">
          {{audio | json}}<br><br>
      </ion-list>
    </section>

    <!-- No audios -->
    <section ng-if="loaded && !audios">
      <h4 class="padding">
        No audios found
      </h2>
    </section>

    <!-- Loading -->
    <section ng-if="!loaded" class="custom-spinner">
      <ion-spinner class="padding custom-spinner" icon="android"></ion-spinner>
    </section>

  </ion-content>
</ion-view>
