<ion-view view-title="{{playlist.title}}" cache-view="false">
  <ion-content>
    <ion-refresher on-refresh="activate()" spinner="none">
    </ion-refresher>

    <!-- Playlist members -->
    <div class="members" ng-show="loaded && playlist">
      <button class="button icon icon-left ion-ios-people button-small" ng-click="openPopoverMembers($event)">
        <span ng-if="!playlist.members || playlist.members.length === 0">
          0 Members
        </span>
        <span ng-if="playlist.members.length === 1">
          1 Member
        </span>
        <span ng-if="playlist.members.length > 1">
          <span ng-bind="playlist.members.length"></span> Members
        </span>
      </button>
      <script id="popoverMembers.html" type="text/ng-template">
        <ion-popover-view>
          <ion-content>
            <ion-list ng-if="playlist.members">
              <ion-item ng-repeat="member in playlist.members">
                <span ng-bind="member['first_name']"></span>
                <span ng-bind="member['last_name']"></span>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-popover-view>
      </script>
    </div>

    <!-- Tracks -->
    <section ng-if="loaded && tracks">
      <div class="list" collection-repeat="track in tracks track by $index" item-render-buffer="5">
       <div class="item item-icon-left">
          <i class="icon" ng-class="{'ion-ios-pause': track.playing, 'ion-ios-play': !track.playing}" ng-click="toggleTrack(track, $index)"></i>
          <span>
            <span ng-bind="track.artist"></span> -
            <span ng-bind="track.title"></span>
          </span>
       </div>
     </div>
    </section>

    <!-- No tracks -->
    <section ng-if="loaded && !tracks">
      <h4 class="padding">
        No tracks found
      </h4>
    </section>

    <!-- Loading -->
    <section ng-if="!loaded" class="custom-spinner">
      <ion-spinner class="padding custom-spinner" icon="android"></ion-spinner>
    </section>

  </ion-content>
</ion-view>
