<ion-view view-title="Create new playlist" cache-view="false">
  <ion-content>
    <ion-refresher on-refresh="activate()" spinner="none">
    </ion-refresher>
    <!-- Members -->
    <section ng-if="loaded && members">
      <div id='new-playlist-card' class="card" on-drag="closeCard()" ng-if="$root.showNewPlaylistCard">
          <div class="item item-body custom-item-body">
            <p style="">Select people, whose music you want to listen.</p>
            <button class="button button-light" ng-click="closeCard()" style="">
              <i class="ion-close-round"> </i>
            </button>
          </div>
      </div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="search-input" type="search" placeholder="Search" ng-model="searchTerm.$">
      </label>
      <ion-list type="item-text-wrap">
        <div collection-repeat="member in members | filter:searchTerm:strict" item-render-buffer="5">
          <ion-checkbox ng-model="member.isChecked" ng-change="checkMember(member)">
            <span ng-bind="member['first_name']"></span>
            <span ng-bind="member['last_name']"></span>
          <img class="item-checkbox-img" ng-src="{{member['photo_100']}}">
          </ion-checkbox>
        </div>
      </ion-list>
    </section>

    <!-- No members -->
    <section ng-if="loaded && (!members || members.length === 0)">
      <h4 class="padding custom-title">
        No members found
      </h4>
    </section>

    <!-- Loading -->
    <section ng-if="!loaded" class="custom-spinner">
      <ion-spinner class="padding custom-spinner" icon="android"></ion-spinner>
    </section>

  </ion-content>

  <ion-footer-bar ng-if="selectedMembersCounter > 0" align-title="center" class="bar bar-positive">
    <div class="buttons">
      <button class="button button-icon icon ion-close" ng-click="uncheck()">
      </button>
    </div>
    <h4 class="title bar-title" ng-bind="selectedMembersTitle">
    </h4>
    <div class="buttons">
      <button class="button button-icon icon ion-checkmark" ng-click="create()">
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
