<ion-view view-title="Playlists">
  <ion-content>

    <!-- Playlists -->
    <section ng-if="loaded && playlists.length > 0">
      <ion-list can-swipe="true">
        <ion-item ng-repeat="playlist in playlists | orderBy:'-createdAt'">
          <h2>{{playlist.title}}</h2>
          <ion-option-button class="button-assertive ion-ios-trash-outline cuustom-icon-size" ng-click="remove(playlist)"></ion-option-button>
        </ion-item>
      </ion-list>
    </section>

    <!-- No playlists -->
    <section ng-if="loaded && (!playlists || playlists.length == 0)">
      <h4 class="padding">
        No playlists found
      </h2>
    </section>

  </ion-content>
</ion-view>
