<ion-view view-title="Playlists">
  <ion-content>

    <!-- Playlists -->
    <section ng-if="loaded && playlists.length > 0">
      <ion-list>
        <div ng-repeat="playlist in playlists | orderBy:'-createdAt'">
          <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/list/{{playlist.playlistId}}">
            <h2 ng-bind="playlist.title"></h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive ion-ios-trash-outline cuustom-icon-size" ng-click="remove(playlist)">
            </ion-option-button>
          </ion-item>
        </div>
      </ion-list>
    </section>

    <!-- No playlists -->
    <section ng-if="loaded && (!playlists || playlists.length == 0)">
      <h4 class="padding">
        No playlists found
      </h2>
    </section>

  </ion-content>
</ion-view>
