<ion-view view-title="Playlists">
  <ion-content>

    <!-- Playlists -->
    <section ng-if="loaded && playlists.length > 0">
      <ion-list can-swipe="true">
        <div ng-repeat="playlist in playlists | orderBy:'-createdAt'">
          <ion-item class="item-stable" ng-click="togglePlaylist(playlist)" ng-class="{active: isPlaylistShown(playlist)}">
              <i class="icon" ng-class="isPlaylistShown(playlist) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              <span ng-bind="playlist.title"></span>
            <ion-option-button class="button-assertive ion-ios-trash-outline cuustom-icon-size" ng-click="remove(playlist)"></ion-option-button>
          </ion-item>
          <ion-item class="item-accordion" ng-show="isPlaylistShown(playlist)">
            <span ng-repeat="friend in playlist.friends">
              {{friend | json}}
              <span ng-if="$index !== (playlist.friends.length - 1)">, </span>
            </span>
          </ion-item>
        </div>
      </ion-list>
    </section>

    <!-- No playlists -->
    <section ng-if="loaded && (!playlists || playlists.length == 0)">
      <h4 class="padding">
        No playlists found
      </h2>
    </section>

  </ion-content>
</ion-view>
