.custom-title {
  color: #444 !important;
  font-size: 17px;
}
.item-checkbox-img {
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 10px;
  height:100%;
  border-radius: 50px;
}
.custom-spinner{
  text-align: center;
  padding-top: 10px;
}
.custom-item-body{
  position:relative;
}
.custom-item-body p{
  margin-right: 45px;
}
.custom-item-body button{
  position:absolute; top: 5px; right: 5px; z-index:3000;
}
.cuustom-icon-size{
  font-size: 30px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.popover-members{
  margin-top: 5px !important;
  margin-right: 0px !important;
}
.popover-members .item{
  padding-right: 70px;
}
.playing-track{
  background: #ddd;
  padding-right: 70px;
}
.track-img{
  visibility: hidden;
}
.playing-track > .track-img {
  visibility: visible;
}
.button-nav > span{
  display: inline !important;
  margin-left: 0px !important;
}
