.item-checkbox-img {
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 10px;
  height:100%;
  border-radius: 50px;
}
.custom-spinner{
  text-align: center;
  padding-top: 10px;
}
.custom-item-body{
  position:relative;
}
.custom-item-body p{
  margin-right: 45px;
}
.custom-item-body button{
  position:absolute; top: 5px; right: 5px; z-index:3000;
}
.cuustom-icon-size{
  font-size: 30px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.bar-music-vk {
  background-color: #e8edf4 !important;
}

.duration-range {
  position: fixed;
  z-index: 99;
  bottom: 24px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.duration-range input[type=range] {
  padding: 0;
  margin: 0;
  width: 100%;
}

.duration-range input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #507299;
  /*border-radius: 1.3px;*/
  /*border: 0.2px solid #010101;*/
}

.duration-range input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -9.2px;
  background-color: #507299;
  /*margin: 0;*/
  /*padding: 0;*/
  /*top: 0;*/
}

.members{
  text-align:right;
}
.members button{
  margin: 10px;
}
.popover-members{
  margin-left: -5px !important;
}
.popover-members .item{
  padding-right: 70px;
}
.playing-track{
  background: #ddd;
  padding-right: 70px;
}
.track-img{
  visibility: hidden;
}
.playing-track > .track-img {
  visibility: visible;
}
